<h1>Dashboard</h1>

<div class="panel panel-default items">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Products</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to @total_products.inspect,  [:admin, :products] %>
      </td>
      <td>
        <%= @total_categories %>
      </td>
    </tr>
  </tbody>
</table>
</div>
