// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// Navbar right side
.navbar-right {
  
  .current-user {
    display: flex;
    align-items: center;
  }

}
